@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|PT+Sans');

iframe[id^='twitter-widget-0'] {
    height:94% !important;
    margin-bottom:0px !important;
    width:100% !important;
    max-width: none !important;
}

p {
    margin: 3px 0px 0px 0px;
    font-family: 'Lobster';
}

a {
    text-decoration: none;
}

.timeline-Widget { 
    width: 100% !important; 
    max-width: none !important;
}

.customisable-highlight {
    font-family: 'Dancing Script';
}